/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

//
// Alerts
// --------------------------------------------------

.alert {
  border-width: 1px;
  padding-left: 47px;
  padding-right: (@alert-padding + 3);
  position: relative;
  .alert-link {
    color: @link-color;
    &:hover {
      color: @link-hover-color;
    }
  }
  > .btn.pull-right {
    margin-top: -3px;
  }
  > .pficon {
    font-size: 22px;
    position: absolute;
    left: 13px;
    top: 10px;
  }
  .close {
    .opacity(.85);
    &:hover,
    &:focus {
      .opacity(1);
    }
  }
  .pficon-info {
    color: @color-pf-black-700;
  }
}

.alert-dismissable {
  padding-right: (@alert-padding + 17);
  .close {
    right: -13px;
    top: 1px;
  }
}
