/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

//
// Blank Slate
// --------------------------------------------------

.blank-slate-pf {
  @media (min-width: @screen-sm-min) {
    padding: (@jumbotron-padding * 2) (@jumbotron-padding * 2);
  }
  @media (min-width: @screen-md-min) {
    padding: (@jumbotron-padding * 3) (@jumbotron-padding * 4);
  }
  background-color: @well-bg;
  border: 1px solid @well-border;
  border-radius: @border-radius-base;
  margin-bottom: 20px;
  padding: @jumbotron-padding;
  text-align: center;
  .blank-slate-pf-icon {
    color: @gray-light;
    font-size: (@font-size-h1 * 2.4);
    line-height: (@font-size-h1 * 2.4);
  }
  .blank-slate-pf-main-action {
    margin-top: @line-height-computed;
  }
  .blank-slate-pf-secondary-action {
    margin-top: @line-height-computed;
  }
}
