/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

//
// Modals
// --------------------------------------------------

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  background-color: @color-pf-black-150;
  border-bottom: none;
  padding: @modal-title-padding-vertical @modal-title-padding-horizontal;
}
// Close icon
.modal-header .close {
  margin-top: 2px;
}

// Title text within header
.modal-title {
  font-size: 13px;
  font-weight: 700;
}

// Footer (for actions)
.modal-footer {
  border-top: none;
  margin-top: 15px;
  padding: (@modal-inner-padding - 1) @modal-inner-padding @modal-inner-padding;
  > .btn {
    padding-left: 10px;
    padding-right: 10px;
    > .fa-angle-left {
      margin-right: 5px;
    }
    > .fa-angle-right {
      margin-left: 5px;
    }
  }
}
